body {
    background-color: beige;
    text-align: center;
    margin-top: 60px;
}

h2{
    font-family: Arial;
    margin-top: 60px;
    color: goldenrod;
    
}

p{
   font-family: arial;
   background-color: #F6E3CA;
   border: #D7C8B6 2px solid;
   border-radius: 10px;
}

ol {
    list-style-type: none;
    text-align: center;
  }
  
  li {
    font-family: arial;
  background-color: #F6E3CA;
  border: #D7C8B6 2px solid;
  display: inline;
  margin-right: 10px;
  border-radius: 10px;
  }

